@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #34353b;
}

header {
  height: 100vh;
  background-image: url(asset/model_bw1.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 100px;
  position: fixed;
  /* background-color: #3d3e42; */
  width: 100%;
  z-index: 99;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

@media (max-width: 600px) {
  header nav{
    visibility: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  }  
}

header nav img {
  height: 56px;
  width: 56px;
  object-fit: contain;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 0px 20px;
}

header nav ul li a {
  color: #98999a;
  text-decoration: none;
  transition: all ease 0.5s;
}

header nav ul li a:hover {
  color: #fbfbfb;
}

header nav ul li .active {
  color: #fbfbfb;
}

header nav .search {
  height: 48px;
  width: 200px;
  background-color: #3d3e42;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2px 16px;
  border-radius: 10px;
}

header nav .search input {
  border: none;
  background-color: transparent;
  width: 80%;
  color: #fbfbfb;
  outline: none;
}

header nav .search input:focus {
  border: none;
  outline: none;
}

header nav .search input::placeholder {
  color: #98999a;
  font-size: 16px;
}

header nav .search i {
  color: #98999a;
}

.landing {
  display: flex;
  height: 90vh;
  background-color: transparent;
  align-items: center;
  justify-content: space-between;
}

.landing .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 15vh;
  margin-right: 15vh;
}

@media (max-width: 600px) {
  .landing {
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .landing .socials {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
      margin-top: 15vh;
      margin-right: 1vh;
    } 
}

.landing .intro {
  display: flex;
  flex-direction: column;
}

.landing .intro h3 {
  color: #fbfbfb;
  font-weight: 400;
  font-size: 32px;
  margin-left: 10vw;
}

.landing .intro h3 span {
  color: #a4161a;
  font-weight: 600;
  font-size: 3.5rem;
}

.intro button {
  height: 48px;
  width: 144px;
  margin-top: 2.5vh;
  margin-left: 10vw;
  background-color: transparent;
  border: 2px solid #a4161a;
  border-radius: 8px;
  color: #a4161a;
  font-size: 16px;
  transition: all ease 0.5s;
}

.intro button:hover {
  background-color: #a4161a;
  color: #34353b;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 50vh;
}

.socials .line {
  background-color: #a4161a;
  height: 15vh;
  width: 2.5px;
}

.socials i {
  color: #fbfbfb;
  height: 37px;
  width: 37px;
  font-size: 36px;
  transition: all ease 0.5s;
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.socials i:hover {
  background-color: #a4161a;
  color: #34353b;
}

.about {
  height: auto;
  width: 100vw;
  padding: 100px;
  background-color: #3d3e42;
}

.about h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.about .description {
  display: flex;
  align-items: start;
}

.about .description .line {
  height: 2.5px;
  width: 400px;
  background-color: #a4161a;
  margin-right: 32px;
}

.about .description p {
  color: #fbfbfb;
  font-size: 20px;
  text-align: justify;
  font-weight: 300;
}

.about .description p span {
  color: #ffffff;
  font-weight: 800 !important;
}
.about .description p i {
  color: #ffffff;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
}

.skills h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.cards {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 2.5vh;
}

.skill-card {
  height: 20vw;
  width: 20vw;
  background-color: #3d3e42;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.skill-card:hover {
  background-color: #a4161a;
}

.skill-card img {
  height: 7.5vw;
  width: 7.5vw;
  object-fit: contain;
}

.skill-card h2 {
  font-size: 24px;
  font-weight: 400;
  color: #fbfbfb;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: #3d3e42;
}

.projects h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.projects-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
  gap: 2.5vh;
}

.projects-card {
  position: relative;
  height: 30vw;
  width: 30vw;
  background-color: #3d3e42;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  transition: all ease 0.5s;
}

.projects-card img {
  position: relative;
  height: 30vw;
  width: 30vw;
  object-fit: cover;
}

.projects-card .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
  height: 30vw;
  width: 30vw;
  background-color: #34353ba2;
  align-items: center;
  justify-content: center;
  padding: 24px;
  opacity: 0;
  transition: all ease 0.5s;
}

.projects-card .overlay h3 {
  color: #fbfbfb;
  font-size: 24px;
}

.projects-card .overlay p {
  color: #fbfbfb;
  font-size: 16px;
  text-align: center;
}

.projects-card .overlay button {
  height: 36px;
  width: 108px;
  background-color: #a4161a;
  border: 1px solid #a4161a;
  border-radius: 8px;
  color: #34353b;
  font-size: 12px;
  transition: all ease 0.5s;
  cursor: pointer;
}

.projects-card .overlay:hover {
  opacity: 1;
}

.projects button {
  margin-top: 50px;
  height: 48px;
  width: 144px;
  background-color: #a4161a;
  border: 1px solid #a4161a;
  border-radius: 8px;
  color: #34353b;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all ease 0.5s;
}

.projects button:hover {
  background-color: #cc9e4e;
}

a{
  text-decoration: none;
  color: #ffffff;
}

.education {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  padding-top: 10vh;
  position: relative;
  align-items: center;
  justify-content: center;
}
.education-section {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 90vw;
  position: relative;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .education-section {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 90vw;
      position: relative;
      align-items: center;
      justify-content: center;
    }
}
.education h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.colleges {
  height: auto;
  width: 70vw;
  position: relative;
  margin: 5vh;
}

.colleges h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}

.colleges h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #a4161a;
  background-color: #a4161a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #a4161a;
}

.colleges-desc h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

.colleges-desc p {
  color: #fbfbfb;
  font-size: 1;
  font-weight: 400;
  text-align: justify;
}

.experience {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #3d3e42;
}

.experience h1 {
  font-size: 56px;
  font-weight: 700;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
}

.lighter-div {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.lighter-div .exp {
  height: auto;
  width: 70vw;
  position: relative;
  margin: 5vh;
}

.exp h2 {
  color: #fbfbfb;
  font-size: 32px;
  font-weight: 400;
}

.exp h2::before {
  content: "";
  height: 20px;
  width: 20px;
  color: #a4161a;
  background-color: #a4161a;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 7.5%;
  left: -5%;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 5px #a4161a;
}

.exp-desc::before {
  content: "";
  height: 190px;
  width: 2.5px;
  margin-top: 20px;
  background-color: #fbfbfb;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 55%;
  left: -5%;
  box-shadow: 0px 0px 10px 1px #a4161a;
}
.exp-desc h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}

/* .exp-desc p{
  color: #fbfbfb;
  font-size: 16;
  font-weight: 400;
  text-align: justify;
} */
.exp-desc-li{
  padding-left: 4vw;
  padding-top: 10px;
}

.exp-desc-li li{
  color: #ffffff;
  font-size: 16;
  font-weight: 400;
  text-align: justify;
  padding-left: 10px;
  line-height: 24px !important;
}

.contact-me {
  width: 100vw;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-me iframe{
  width: 90vh;
  height: 400px;
}

.contact-me h1 {
  font-size: 56px;
  color: #fbfbfb;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

.contact {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 24px;

}

.contact-card {
  background-color: #a4161a;
  padding: 10px;
  border-radius: 8px;
  display: flex;
}

@media (max-width: 725px){
  .contact {
      display: flex;
      flex-direction: column;
      padding: 20px;
      gap: 24px;
  
    }
}

.footer {
  background-color: #111;
  color: #fff;
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  flex-wrap: wrap;
}

.footer a {
  color: #00bcd4;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
